
@import './base.scss';

body{
  color:$globalColor;
  font-size:30*$rem;
}
input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
 box-shadow: 0 0 0 1000px #fff inset;
 -webkit-text-fill-color: #666666;
 background:transparent;
 &:focus{background:transparent}
}
.clear:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.clear{zoom:1;}
.form-required::after{
    content: "*";
    display: inline-block;
    color: red;
    text-align: right;
    font-size: 15px;

}
.g-b-c{
  background-color: $globalBackroundColor;
}
.g-c{
  color: $globalColor;
}

.spacing-10{
  margin-top:10*$rem;
}
.spacing-20{
  margin-top:20*$rem;
}
.spacing-80{
  margin-top:80*$rem;
}
.g-min-badge{


}

.btn-margin{
  margin:50*$rem 0;
}


._av:active{
	background-color:#eee !important;
}

@function rem($number){ 
  @return ($number / 2.5) + px; 
}

.border-top-1px{
    background-image: linear-gradient(0deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
}

.border-bottom-1px{
    background-image: linear-gradient(0deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.border-left-1px{
    background-image: linear-gradient(0deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: left;
}

.border-right-1px{
    background-image: linear-gradient(0deg, #d9d9d9, #d9d9d9 100%, transparent 50%);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.border-bottom-scale-1px{
   position: relative;
}
.border-bottom-scale-1px:after{
   content:"";
   position: absolute;
   bottom:0px;
   left:0px;
   right:0px;
   border-bottom:1px solid #c8c7cc;
   transform:scaleY(.5);
   transform-origin:0 0;
}

.border-top-scale-1px{
   position: relative;
}
.border-top-scale-1px:after{
   content:"";
   position: absolute;
   top:0px;
   left:0px;
   right:0px;
   border-top:1px solid #c8c7cc;
   transform:scaleY(.5);
   transform-origin:0 0;
}